---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { PAGES, SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-5">
        {
          Object.values(PAGES).map((PAGE) => (
            <Link href={PAGE.HREF}>{PAGE.TITLE}</Link>
          ))
        }
      </nav>
    </div>
  </Container>
</header>
